.highlight {
    -fx-effect: dropshadow(three-pass-box, white, 4, 1, 0, 0);
}
#wood {
	-fx-background-image:url('file:wood.jpg');
}
#stone {
	-fx-background-image:url('file:stone.jpg');
}
#marble {
	-fx-background-image:url('file:marble.jpg');
}
#copy {
	-fx-background-image:url('file:copy.jpg');
}